.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.App h1 {
  margin-bottom: 30px;
}

.container {
  background-color: #fff;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 10px 0;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: red;
  color: #999999;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 3px;
  outline: none;
  width: 200px;
}
input:focus {
  border: 2px solid #5bb61e;
}

.formControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  margin-top: 20px;
}

.button {
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}
.edit {
  background-color: #fff;
  color: #5bb61e;
  border: 1px solid #5bb61e;
}
.remove {
  background-color: #fff;
  color: #eb2e2e;
  border: 1px solid #eb2e2e;
  margin-left: 15px;
}
.addBtn {
  background-color: #5bb61e;
}
.updateBtn {
  background-color: #5bb61e;
}

.todoText{
  cursor: pointer;
  font-weight:bold ;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header span{
  margin-left:20px ;
  display: inline-block;
  width: 20px;
  font-size: 20px;
  height: 20px;
  background-color: #fff;
  color: #5bb61e;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}